@font-face 
{
font-family: 'mt';
src: url('fonts/SCRIPTBL.TTF');

}


header
{
	background-color: #046380;
	font-family: "Lucida Grande", "Lucida sans unicode";
	color: white;
	position: fixed; left: 0; right: 0; top: 0;
	height: 10%;
	width: 100%;
    background-color: #318CE7;
    font-family: "Lucida Grande", "Lucida sans unicode";
    color: white;
    position: fixed; left: 0; right: 0; top: 0;
    height: 10%;
    width: 100%;
}

footer
{
	background-color: #046380;
	color: white;
	font-family: "Lucida Grande", "Lucida sans unicode";	
	width: 100%;
	height: 10%;
	display: flex;
    background-color: #318CE7;
    color: white;
    font-family: "Lucida Grande", "Lucida sans unicode";    
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed; left: 0; right: 0; bottom: 0;

}


main
{
     position: fixed; left: 0; right: 0; top: 25%; bottom:25%;
}

ul
{
    width: 50%;
    text-align: center;
}

ul#top
{
    top: 0;
    color:white;
}

ul#bottom
{
    bottom:  0;
}

ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #046380;
    left: 0;
    right: 0;
    width: 100%;
    color:black;
}

li 
{
    float: left;
}
p, a, a:link{
    font-family: Verdana;
    text-decoration: none;
    color:black;

}
.texte{
    font-family: Verdana;
    text-decoration: none;
    color:black;
     margin-left: 100px;
}
a:hover{
    font-weight: bold;
    text-decoration: none;
    color:white;

}
.scroll{
   
 overflow-y:scroll;
 overflow-x:hidden;
 
}
.input
{
  height: 50px;
  width: 600px;
  margin-left: 100px; 
  font-size: 1.3em;
}

.float{
    position:float;
}
h1{
    font-family: Verdana;
    font-size: 18px;
    color: #046380;
}
li#bottom
{
    float: center;
    width: 33%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover 
{
    background-color: #333;
}

.active 
{
    background-color: #333;
}

a#creaparcours
{
    color : blue;
}

#fincreation
{
    color : blue;
    font-size: 18px;
    text-align: center;
}

#titre
{
    color:#FF9600;
    text-align: center;
    font-family:mt;
    font-size: 26px;
    font-weight: bold;

}

#description
{
    text-align: center;
    font-size: 12px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}